#!/bin/bash

DBUSER="{{ mysql_user }}"
DBPASS="{{ mysql_password }}"
DBNAME="{{ mysql_db }}"
BACKUP_PATH="{{ backup_path }}"
DATE=$(date +%Y%m%d_%H%M%S)

mysqldump -u $DBUSER -p$DBPASS -h{{ mysql_host }} $DBNAME | openssl enc -aes-256-cbc -salt -pass file:{{ encryption_key_file }} -out $BACKUP_PATH/db_backup_$DATE.sql.enc

chown sepractest:sepractest $BACKUP_PATH/db_backup_$DATE.sql.enc
