#!/bin/bash

DBUSER="{{ mysql_user }}"
DBPASS="{{ mysql_password }}"
DBNAME="{{ mysql_db }}"
BACKUP_PATH="{{ backup_path }}"

usage() {
    echo "Usage: $0 [-l] [-h] [-f backup_file]"
    echo "   -l: List all available backups"
    echo "   -h: Display this help message"
    echo "   -f: Specify a backup file to restore from (default is the latest backup)"
    exit 1
}

list_backups() {
    # sorted by time already
    ls -t $BACKUP_PATH/*.sql.enc
    exit 0
}

while getopts "lhf:" opt; do
    case ${opt} in
        l)
            list_backups
            ;;
        h)
            usage
            ;;
        f)
            BACKUP_FILE=$OPTARG
            ;;
        \?)
            usage
            ;;
    esac
done

if [ -z "$BACKUP_FILE" ]; then
    BACKUP_FILE=$(ls -t $BACKUP_PATH/*.sql.enc | head -n 1)
fi

openssl enc -d -aes-256-cbc -in $BACKUP_FILE -pass file:{{ encryption_key_file }} | mysql -u $DBUSER -p$DBPASS -h{{ mysql_host }} $DBNAME
