server {
    listen 80;
    server_name {{ moodle_host }};
    return 301 https://$host$request_uri;
}

server {
    listen 443 ssl;
    server_name {{ moodle_host }};
    root {{ moodle_dir }};

    ssl_certificate /etc/letsencrypt/live/system-pknmytx7dbt40g.gdplabs.net/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/system-pknmytx7dbt40g.gdplabs.net/privkey.pem;

    location / {
        index index.php index.html index.htm;
        try_files $uri $uri/ /index.php;
    }

    location ~ [^/]\.php(/|$) {
        fastcgi_split_path_info  ^(.+\.php)(/.+)$;
        fastcgi_index            index.php;
        fastcgi_pass             127.0.0.1:9000;
        include                  fastcgi_params;
        fastcgi_param   PATH_INFO       $fastcgi_path_info;
        fastcgi_param   SCRIPT_FILENAME $document_root$fastcgi_script_name;
    }
}
