server {
    listen 80;
    server_name {{ icinga2_web_host }};
    return 301 https://$host$request_uri;
}

server {
    listen 443 ssl;
    server_name {{ icinga2_web_host }};
    root {{ icinga2_web_dir }};

    ssl_certificate /etc/letsencrypt/live/monitoring-pknmytx7dbt40g.gdplabs.net/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/monitoring-pknmytx7dbt40g.gdplabs.net/privkey.pem;

    index index.php index.html index.htm index.nginx-debian.html;

    location / {
        return 301 $scheme://$host/icingaweb2;
    }

    location ~ ^/icingaweb2/index\.php(.*)$ {
        fastcgi_pass             127.0.0.1:9000;
        fastcgi_index index.php;
        include fastcgi_params;
        fastcgi_param SCRIPT_FILENAME {{ icinga2_web_dir }}/index.php;
        fastcgi_param ICINGAWEB_CONFIGDIR /etc/icingaweb2;
        fastcgi_param REMOTE_USER $remote_user;

        fastcgi_param HTTP_PROXY "";
    }

    location ~ ^/icingaweb2(.+)? {
        alias {{ icinga2_web_dir }};
        index index.php;
        try_files $1 $uri $uri/ /icingaweb2/index.php$is_args$args;
    }
}
